<div class="my-profile-info-text">
  <h2 class="h4">
    <i class="fas fa-medal icon-full-blue"></i> Membresía y facturación
  </h2>
  <br/>
  <div class="row">
    <div class="col-md-8">
      <p class="h6">
        Plan actual:
        <span ng-if="ssCtrl.subscription_loading == false">
          {{ssCtrl.actual_plan.name}}
        </span>
        <span ng-if="ssCtrl.subscription_loading == true">
          <i class="fas fa-circle-notch fa-spin vertical-middle"></i>
        </span>
      </p>
      <p class="h6">
        Fecha de inicio:
      </p>
      <p class="h6">
        Fecha de corte:
      </p>
      <p class="h6">
        Medio de pago: **** **** **** 7289
      </p>
      <p class="h6" ng-if="ssCtrl.selected_plan != null">
        <span class="label label-info" style="font-size: 14px;">
          Nuevo plan seleccionado: {{ssCtrl.selected_plan.name}}
        </span>
        <br>
        <br>
        <button type="button" class="btn secundary-btn" style="font-size: 16px; margin-right: 15px" ng-click="ssCtrl.SelectPlan(ssCtrl.selected_plan)">
          <span>Pagar</span>
        </button>
      </p>
    </div>
    <div class="col-md-4">
      <div class="btn-group-vertical">
        <button type="button" class="btn secundary-btn pull-right" style="font-size: 16px; margin-right: 15px" ng-click="ssCtrl.ChangePlan();">
          <span>Cambiar plan</span>
        </button>
        <!-- <button type="button" class="btn secundary-btn pull-right" style="font-size: 16px; margin-right: 15px">
          <span>Actualizar información de pagos</span>
        </button>
        <button type="button" class="btn secundary-btn pull-right" style="font-size: 16px; margin-right: 15px">
          <span>Detalles de facturación</span>
        </button> -->
        <button type="button" class="btn secundary-btn pull-right" style="font-size: 16px; margin-right: 15px" ng-if="ssCtrl.actual_plan != null" ng-click="ssCtrl.DeleteSubscription();">
          <span>Cancelar membresía</span>
        </button>
      </div>
    </div>
  </div>
</div>
